* {
  background-color: black;
  color: white;
  padding: 1.5rem;
  border-radius: 2rem;
}

form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 3rem;
}

label {
  margin: auto;
  margin-top: 1rem;
  font-size: 130%;
}

input {
  width: 70%;
  height: 0.5px;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  border-color: red;
}
.contenid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1%;
}
.contenid-button {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
}

button {
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
  background-color: red;
  font-size: 85%;
  color: white;
  margin: auto;
  margin-top: 1rem;
  width: 60%;
}

button:hover {
  background-color: #d93a3a;
  cursor: pointer;
}
