*{
  background-color: black;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
}
form{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
label{
  margin: auto;
  font-size: 2.5rem;
}
input{
  width: 80%;
  height: 2rem;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-color: red;
}
.contenid{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1rem;
}
.contenid-button{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: auto;
}

button{
  padding: 1rem;
  border-radius: 1rem;
  border:none;
  background-color: red;
  font-size: 1rem;
  color: white;
  margin: auto 1rem;
}

button:hover{
  background-color: #d93a3a;
  cursor: pointer;
}
